nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.6rem 1.7rem;
  z-index: 10;
  align-items: center;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(20px);
}

nav a {
  font-size: 20px;
  padding: 0.8rem;
  border-radius: 50%;
  color: var(--primary-color);
  display: flex;
}

nav a.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}




@media (max-width:600px) {
  nav {
   width: 90%;
   text-align: center;
   backdrop-filter: blur(100px);
  }
  nav a{
    font-size: 16px;
    padding: 5px;
    margin: auto;
  }
}
